/* .snake-grid { border-spacing: 0; border-collapse: collapse; }
.snake-grid th { padding: .5em; }
.snake-grid td { border: 1px solid rgba(0, 0, 0, 0.1); width: 2em; height: 2em; }
.snake-grid .light { background: seagreen; }
.snake-grid .dark { background: green }

.apple{
    background-color: red;
} */

p{
    display: inline;
}